In [59]:
import pandas as pd
from pandas import set_option
# Restrict Pandas output to 20 rows
set_option("display.max_rows",20)

In [58]:
# The first line of the following code imports the library os
import os
# The second line stores the name of the current directory in a string called wd
os.listdir(wd)
# The third outputs the contents of the directory in a list to the shell
wd = os.getcwd()

NameError: name 'wd' is not defined

In [ ]:
# You can see what file formats you read in using Pandas by hitting tab
pd.read_

In [32]:
# Hit shift enter with ? to see help!!!
pd.read_table?

# Read in HDF5 files

In [ ]:
# Hierarchical data format v5 files are becoming the standard format for storing large quantities of numerical data
# HDF5 can scale to Exabytes

In [ ]:
# Import packages
import numpy as np
import h5py

# Assign filename: file
file = 'LIGO_data.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
print(type(data))

# Print the keys of the file
for key in data.keys():
    print(key)

In [ ]:
# Get the HDF5 group: group
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

# Set variable equal to time series data: strain
strain = data['strain']['Strain'].value

# Set number of time points to sample: num_samples
num_samples = 10000

# Set time vector
time = np.arange(0, 1, 1/num_samples)

# Plot data
plt.plot(time, strain[:num_samples])
plt.xlabel('GPS Time (s)')
plt.ylabel('strain')
plt.show()

# Read in SAS files

In [1]:
# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
print(df_sas.head())

# Plot histogram of DataFrame features (pandas and pyplot already imported)
pd.DataFrame.hist(df_sas[['P']])
plt.ylabel('count')
plt.show()

ImportError: No module named 'sas7bdat'

# Read in Matlab files

In [ ]:
# Matlab stands for Matrix Laboratory
# Data is saved as .mat files
# Scipy has standard libraries for reading in Matlab files

In [ ]:
# Import package
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

In [ ]:
import scipy.io
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Print the keys of the MATLAB dictionary
# Most of these keys (in fact the ones that do NOT begin and end with '__') are variables from the corresponding MATLAB environment.
print(mat.keys())

# Print the type of the value corresponding to the key 'CYratioCyt'
print(type(mat['CYratioCyt']))

# Print the shape of the value corresponding to the key 'CYratioCyt'
print(np.shape(mat['CYratioCyt']))

# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]
fig = plt.figure()
plt.plot(data)
plt.xlabel('time (min.)')
plt.ylabel('normalized fluorescence (measure of expression)')
plt.show()

# Read in Stata files

In [ ]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('disarea.dta')

# Print the head of the DataFrame df
print(df.head())

# Plot histogram of one column of the DataFrame
pd.DataFrame.hist(df[['disa10']])
plt.xlabel('Extent of disease')
plt.ylabel('Number of coutries')
plt.show()

# Pickling

In [ ]:
# If you want your files to be human readable, you may want to save them as text files in a clever manner (JSONs, which you will see in a later chapter, are appropriate for Python dictionaries).
# If, however, you merely want to be able to import them into Python, you can serialize them 
# All this means is converting the object into a sequence of bytes, or bytestream
# Import pickle package
import pickle

# Open pickle file and load data: d
# This argument will be a string of two letters, one signifying 'read only', the other 'binary
with open('data.pkl', 'rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

# Listing sheets of Excel spreadsheets

In [ ]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'battledeath.xlsx'

# Load spreadsheet: xl
xl = pd.ExcelFile(file)

# Print sheet names
print(xl.sheet_names)

# Importing sheets of Excel spreadsheets

In [ ]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('2004')

# Print the head of the DataFrame df1
print(df1.head())

# Load a sheet into a DataFrame by index: df2
df2 = xl.parse(0)

# Print the head of the DataFrame df2
print(df2.head())

In [ ]:
# Parse the first sheet and rename the columns: df1
df1 = xl.parse(0, skiprows=[0], names=['Country','AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(1, parse_cols=([0]), skiprows=1, names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())

# Reading in the Energy spreadsheet

In [60]:
# Import pandas
import pandas as pd
import numpy as np

# Assign spreadsheet filename: file
file = 'http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls'

# Load spreadsheet: xl
energy_xl = pd.ExcelFile(file)

# Print sheet names
print(energy_xl.sheet_names)

# Load a sheet into a DataFrame by name: df1
energy_df = energy_xl.parse('Energy', parse_cols=([2,3,4,5]), 
                            skiprows = 17, 
                            names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])

energy_df = energy_df[:-38]

energy_df = energy_df.applymap(lambda x: np.nan if x == '...' else x)

# Remove any digits from country name
# e.g. 'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 'Switzerland17'` should be `'Switzerland'`

import string
translation = str.maketrans(string.ascii_letters, string.ascii_letters, string.digits)
energy_df['Country'] = energy_df.Country.str.translate(translation)
energy_df['Country'] = energy_df.Country.str.strip()

# Remove text within parentheses
# There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 
energy_df['Country'] = energy_df['Country'].str.replace(r"\(.*\)","")

country_lookup = {"Republic of Korea": "South Korea","United States of America": "United States",
                  "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                  "China, Hong Kong Special Administrative Region": "Hong Kong"}
energy_df = energy_df.replace({"Country": country_lookup})

# Print the head of the DataFrame df1
print(energy_df.head())

['Energy']
          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan          321.0                      10.0    78.669280
1         Albania          102.0                      35.0   100.000000
2         Algeria         1959.0                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra            9.0                     121.0    88.695650

In [51]:
print(energy_df[energy_df['Country'].str.contains("Switz")])

         Country  Energy Supply  Energy Supply per Capita  % Renewable
197  Switzerland         1113.0                     136.0     57.74548

In [53]:
# Print the tail of the DataFrame df1
print(energy_df.tail())

                       Country  Energy Supply  Energy Supply per Capita  \
222                   Viet Nam         2554.0                      28.0
223  Wallis and Futuna Islands            0.0                      26.0
224                      Yemen          344.0                      13.0
225                     Zambia          400.0                      26.0
226                   Zimbabwe          480.0                      32.0

     % Renewable
222     45.32152
223      0.00000
224      0.00000
225     99.71467
226     52.53612

In [54]:
# Checks on countries
print(energy_df[energy_df['Country'].str.contains("South")])
print(energy_df[energy_df['Country'].str.contains("United")])
print(energy_df[energy_df['Country'].str.contains("Switz")])
print(energy_df[energy_df['Country'].str.contains("Hong Kong")])
print(energy_df[energy_df['Country'].str.contains("Bolivia")])

          Country  Energy Supply  Energy Supply per Capita  % Renewable
164   South Korea        11007.0                     221.0     2.279353
188  South Africa         6341.0                     119.0     1.687019
189   South Sudan           28.0                       2.0     0.423729
                          Country  Energy Supply  Energy Supply per Capita  \
213          United Arab Emirates         2710.0                     300.0
214                United Kingdom         7920.0                     124.0
215   United Republic of Tanzania          994.0                      20.0
216                 United States        90838.0                     286.0
217  United States Virgin Islands            NaN                       NaN

     % Renewable
213      0.00000
214     10.60047
215     31.07284
216     11.57098
217      0.00000
         Country  Energy Supply  Energy Supply per Capita  % Renewable
197  Switzerland         1113.0                     136.0     57.74548
      Country  Energy Supply  Energy Supply per Capita  % Renewable
43  Hong Kong          585.0                      82.0          0.0
     Country  Energy Supply  Energy Supply per Capita  % Renewable
24  Bolivia           336.0                      32.0     31.47712

In [55]:
unique_countries = energy_df['Country'].unique()
print(unique_countries)

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia '
 'Bonaire, Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Hong Kong' 'China, Macao Special Administrative Region' 'Colombia'
 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia'
 'Cuba' 'Curaçao' 'Cyprus' 'Czech Republic'
 "Democratic People's Republic of Korea" 'Democratic Republic of the Congo'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia'
 'Faeroe Islands' 'Falkland Islands ' 'Fiji' 'Finland' 'France'
 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran ' 'Iraq'
 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia ' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Niue' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'South Korea' 'Republic of Moldova'
 'Réunion' 'Romania' 'Russian Federation' 'Rwanda' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten ' 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'State of Palestine'
 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'The former Yugoslav Republic of Macedonia' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Republic of Tanzania'
 'United States' 'United States Virgin Islands' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Venezuela ' 'Viet Nam' 'Wallis and Futuna Islands' 'Yemen'
 'Zambia' 'Zimbabwe']

In [ ]:
help pd.read_csv

In [57]:
# Load the GDP data with countries' GDP from 1960 to 2015 as GDP

gdp_file = 'http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv'

gdp = pd.read_csv(gdp_file)

CParserError: Error tokenizing data. C error: Expected 1 fields in line 33, saw 7

In [ ]:
print(gdp)

In [ ]:
```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

In [42]:
# Sciamgo Journal data for Energy Engineering and Power Technology
# This ranks countries based on their journal contribution in EE and PT
sciamgo_file = 'http://www.scimagojr.com/countryrank.php?category=2102&out=xls'

# Load spreadsheet: xl
journal_ctb_xl = pd.ExcelFile(sciamgo_file)

# Print sheet names
print(journal_ctb_xl.sheet_names)

# Call this DataFrame **ScimEn**
ScimEn = journal_ctb_xl.parse(0)

ScimEn.head()

['Sheet1']

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [ ]:
print(df.info) 
print(df.columns)
print(df.index)

In [ ]:
Question 2 is asking about the number of unique rows (data entries) that's lost when merging the three data frames.

pd.merge(df_left,df_right,on='commonkey')
On the other hand if the dataframes shared a common index we use:

pd.merge(df_left,df_right,left_index=True,right_index=True)
You can also have one dataframe joined on its index and the other on its column. For example if df_left's index is the same as "commonkey" column in df_right we use:

pd.merge(df_left,df_right,left_index=True,right_on='commonkey')
All the questions from Q3 onwards, are directed specifically at the output of the answer_one function, that's why it was pre-coded in all these questions.

Your feedback on the questions phrasing is truly appreciated and will be utilized in improving the this course.

In [ ]:
# To simplify matters, create a function get_dataframes() that carry out the steps in Q 1 
# until just before the merging step, the function would returns the three data frames.
def get_dataframes():

  #Your code here 
  return Energy, GDP, ScimEn

# you can use the function to in Q1

def answer_one():
  Energy, GDP, ScimEn = get_dataframes()
  # code for merging and slicing steps
  return "YOUR ANSWER HERE"

# and for Q2

def answer_two():
  Energy, GDP, ScimEn = get_dataframes()
  # code for findin the number of records
  return "YOUR ANSWER HERE"