In [30]:
# Sqlachemy provides a common way to connect to many different types of database:
# SQLite, PostgreSQL, MySQL, MS SQL, Oracle and many more
# 2 main parts to SQLAchemy: Core (Relational Model focused) AND ORM (User Data Model focused)

# Engine: common interface to the database from SQLAlchemy
# Connection string: All the details required to find the database (and login, if necessary)
from sqlalchemy import create_engine
# In the following connection string: 'sqlite:///census_nyc.sqlite':
# - sqllitte is called the Driver+Dialect
# - census_nyc.sqlite is the Filename
engine = create_engine('sqlite:///census_nyc.sqlite')
connection = engine.connect()

In [31]:
# Before querying your database, you’ll want to know what is in it: what the tables are, for example:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census_nyc.sqlite')
print(engine.table_names())

[]

In [32]:
# Reflection
# Reflection reads database and builds SQLAlchemy Table objects

# SQLAlchemy can be used to automatically load tables from a database using something called reflection. 
# Reflection is the process of reading the database and building the metadata based on that information. 
# It's the opposite of creating a Table by hand and is very useful for working with existing databases. 
# To perform reflection, we need to import the Table object from the SQLAlchemy package. 
# Then we use the Table object to read our table from the engine and autoload the columns. 
# Using the Table object in this manner looks like we are using a function.

from sqlalchemy import MetaData, Table
# Initialise a metadata object
metadata = MetaData()
# Instruct Python to autoload the table
census = Table('census', metadata, autoload=True, autoload_with=engine)
# Use function repr to see column names and types of columns
print(repr(census))

NoSuchTableError: census

In [ ]:
# With our table reflected, we can begin to learn more about the columns and structure of our table. 
# It is important to get an understanding of our database by examining the column names. 
# This can be done by using the columns attribute and accessing the keys() method. 
# For example, census.columns.keys() would return a list of column names on the census table.

# Following this, we can use the metadata container to find out more details about the reflected table such as the columns and their types.
# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print columns names
print(census.columns.keys())

# Print full table metadata
print(repr(metadata.tables['census']))

# SQL Statements

In [ ]:
# Select, Insert, Update & Delete data Create & Alter data

In [ ]:
# Basic SQL querying:
# - SELECT column_name FROM table_name
# - SELECT pop2008 FROM People
# - SELECT * FROM People

# Selecting data from a Table: raw SQL

In [ ]:
# Basic SQL querying
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census_nyc.sqlite')
connection = engine.connect()
# Create an object to hold the SQL query
stmt = 'SELECT * FROM people'
# Execute the query and assign this to variable results_proxy
result_proxy = connection.execute(stmt)
# We can then retrieve all of the data from result_proxy with the fetchall method
results = result_proxy.fetchall()

# Selecting data from a Table with SQLAlchemy

In [ ]:
# SQLAlchemy to Build Queries
# - Provides a Pythonic way to build SQL statements 
# - Hides differences between backend database types

In [ ]:
# SQLAlchemy querying

# Import select
from sqlalchemy import select

# Reflect census table via engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Build select statement for census table: stmt
stmt = select([census])

# Print the emitted statement to see the SQL emitted
print(stmt)

# Execute the statement and print the results
print(connection.execute(stmt).fetchall())

In [ ]:
# SQLAlchemy Select Statement
# - Requires a list of one or more Tables or Columns 
# - Using a table will select all the columns in it
stmt = select([census])
In [10]: print(stmt)
Out[10]: 'SELECT * from CENSUS'

In [ ]:
# ResultProxy: The object returned by the execute() method. It can be used in a variety of ways to get the data returned by the query.
# ResultSet: The actual data asked for in the query when using a fetch method such as fetchall() on a ResultProxy.

# This separation between the ResultSet and ResultProxy allows us to fetch as much or as little data as we desire

# ResultProxy
result_proxy = connection.execute(stmt)
# ResultSet - contains the data we ask for in the query
results = result_proxy.fetchall()

In [ ]:
# Handling a ResultSet

In [ ]:
# Handling ResultSets
# Get the first row of the results by using an index: first_row
first_row = results[0]

# Print the first row of the results
print(first_row)

# Print the first column of the row by using an index
print(first_row[0])

# Print the state column of the row by using its name
print(first_row['state'])

# Filtering and Targeting Data

In [ ]:
# Where clauses
# - Restrict data returned by a query based on boolean conditions
# - Compare a column against a value or another column
# - Often used comparisons: '==', '<=', '>=', or '!='

stmt = select([census])
stmt = stmt.where(census.columns.state == 'California')
results = connection.execute(stmt).fetchall()
for result in results:
    print(result.state, result.age)

In [ ]:
# SQL expressions
# Provide more complex conditions than simple operators
# Eg. in_() matches a column's value against a list, like() matches a column's value against a partial value, between() matches a column's value between 2 values 
# Many more in documentation 
# Available as method on a Column
stmt = select([census])
stmt = stmt.where(
census.columns.state.startswith('New'))
for result in connection.execute(stmt):
    print(result.state, result.pop2000)

In [ ]:
# Conjunctions
# - Allow us to have multiple criteria in a where clause Eg.and_(),not_(), or_()
from sqlalchemy import or_
stmt = select([census])
stmt = stmt.where(or_(census.columns.state == 'California',
                      census.columns.state == 'New York'
                  )
        )
for result in connection.execute(stmt):
    print(result.state, result.sex)

# Connecting to a PostgreSQL Database

In [ ]:
# When connecting to a PostgreSQL database, many prefer to use the psycopg2 database driver, which you have to install before use. 
# Psycopg2 is preferred as it supports practically all of PostgreSQL's features efficiently and is the standard dialect for PostgreSQL in SQLAlchemy.
# There are three components to the connection string in this exercise: 
# - the dialect and driver ('postgresql+psycopg2://'),
# - followed by the username and password ('student:datacamp'), 
# - followed by the host and port ('@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'),
# - and finally, the database name ('census')

# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')
connection = engine.connect()

# Use the 'table_names()' method on the engine to print the table names
print(engine.table_names())

In [ ]:
from sqlalchemy import select
from sqlalchemy import MetaData, Table

# Initialise a metadata object
metadata = MetaData()

# Reflect census table via engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Create a select query: stmt
stmt = select([census])

# Add a where clause to filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')

# Execute the query to retrieve all the data returned: results
results = connection.execute(stmt).fetchall()

# Loop over the results and print the age, sex, and pop2008
for result in results:
    print(result.age, result.sex, result.pop2008)

In [ ]:
# Create a query for the census table: stmt
stmt = select([census])

# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(states))

# Loop over the ResultProxy and print the state and its population in 2000
for result in connection.execute(stmt):
    print(result.state, result.pop2000)

In [ ]:
# Filter data selected from a Table - Advanced
# SQLAlchemy allows users to use conjunctions such as and_(), or_(), and not_() to build more complex filtering

# Import and_
from sqlalchemy import and_

# Build a query for the census table: stmt
stmt = select([census])

# Append a where clause to select only non-male records from California using and_
stmt = stmt.where(
    # The state of California with a non-male sex
    and_(census.columns.state == 'California',
         census.columns.sex != 'M'
         )
)

# Loop over the ResultProxy printing the age and sex
for result in connection.execute(stmt):
    print(result.age, result.sex)

# Ordering query results

In [ ]:
# Order by Clauses
# - Allows us to control the order in which records are returned in the query results
# - Available as a method on statements order_by()

# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Append an order_by state
stmt = stmt.order_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the first 10 results
print(results[:10])

In [ ]:
# Order by Descending - wrap the column with desc() in the order_by() clause

# Import desc
from sqlalchemy import desc

# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Append order_by descending state: rev_stmt
rev_stmt = stmt.order_by(desc(census.columns.state))

# Execute the query and store the results: rev_results
rev_results = connection.execute(rev_stmt).fetchall()

# Print the first 10 rev_results
print(rev_results[:10])

In [ ]:
# Order by Multiple
# - Just separate multiple columns with a comma Orders completely by the first column
# - Then if there are duplicates in the first column,   orders by the second column
# - repeat until all columns are ordered

# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print the first 20 results
print(results[:20])

# SQL Functions to aggregate data

In [ ]:
# E.g. Count, Sum
# from sqlalchemy import func
# More efficient than processing in Python

from sqlalchemy import func
stmt = select([func.sum(census.columns.pop2008)])
results = connection.execute(stmt).scalar()
print(results)

In [ ]:
# Build a query to count the distinct states values: stmt
stmt = select([func.count(census.columns.state.distinct())])

# Execute the query and store the scalar result: distinct_state_count
# The ResultProxy also has a method called scalar() for getting just the value of a query that returns only one row and column
distinct_state_count = connection.execute(stmt).scalar()

# Print the distinct_state_count
print(distinct_state_count)

In [ ]:
# Import func
from sqlalchemy.sql import func

# Build a query to select the state and count of ages by state: stmt
stmt = select([census.columns.state, func.count(census.columns.age)])

# Append group by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

# Print the keys/column names of the results returned
print(results[0].keys())

In [ ]:
# Example of a groupby
stmt = select([census.columns.sex, func.sum(census.columns.pop2008)])
stmt = stmt.group_by(census.columns.sex)
results = connection.execute(stmt).fetchall()
print(results)

In [ ]:
# Group by supports multiple columns to group by with a pattern similar to order_by()
# Requires all selected columns to be grouped or aggregated by a function

In [ ]:
stmt = select([census.columns.sex, census.columns.age, func.sum(census.columns.pop2008)])
stmt = stmt.group_by(census.columns.sex, census.columns.age)
results = connection.execute(stmt).fetchall()
print(results)

In [ ]:
# Handling ResultSets from Functions
# SQLAlchemy auto generates “column names” for functions in the ResultSet
# The column names are often func_# such as count_1
# Replace them with the label() method

# Import func
from sqlalchemy.sql import func

# Build an expression to calculate the sum of pop2008 labeled as population
pop2008_sum = func.sum(census.columns.pop2008).label('population')

# Build a query to select the state and sum of pop2008 as population grouped by state: stmt
stmt = select([census.columns.state, pop2008_sum])

# Append group by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

# Print the keys/column names of the results returned
print(results[0].keys())

In [ ]:
# We can feed a ResultProxy directly into a pandas DataFrame
# import pandas
import pandas as pd

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set column names
df.columns = results[0].keys()

# Print the Dataframe
print(df)

In [ ]:
# Import Pyplot as plt from matplotlib
import matplotlib.pyplot as plt

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set Column names
df.columns = results[0].keys()

# Print the DataFrame
print(df)

# Plot the DataFrame
df.plot.bar()
plt.show()

# Performing more complex SQL queries using SQLAlchemy

In [ ]:
# Calculating differences
stmt = select([census.columns.age,
   ...:     (census.columns.pop2008-
   ...:     census.columns.pop2000).label('pop_change')
   ...: ])
In [2]: stmt = stmt.group_by(census.columns.age)
In [3]: stmt = stmt.order_by(desc('pop_change'))
In [4]: stmt = stmt.limit(5)
In [5]: results = connection.execute(stmt).fetchall()
In [6]: print(results)

In [ ]:
Case Statement
Used to treat data differently based on a condition
Accepts a list of conditions to match and a column   to return if the condition matches
The list of conditions ends with an else clause to  determine what to do when a record doesn’t match any prior conditions

In [ ]:
Cast Statement
Converts data to another type Useful for converting
integers to floats for division
strings to dates and times
Accepts a column or expression and the target Type

In [ ]:
from sqlalchemy import case, cast, Float
stmt = select([(func.sum(case([(census.columns.state == 'New York',census.columns.pop2008)], else_=0)) /
cast(func.sum(census.columns.pop2008), Float) * 100).label('ny_percent')])
results = connection.execute(stmt).fetchall()
print(results)

# Connecting to a MySQL database

In [ ]:
# When connecting to a MySQL database, many prefer to use the pymysql database driver, which you have to install prior to use. 
# This connection string is going to start with mysql+pymysql://, indicating which dialect and driver we are using to establish the connection. 
# The dialect block is followed by the username:password combo. 
# Next, we specify the host and port with the following @host:port/. 
# Finally, we wrap up the connection string with the database_name. 
# Now you'll practice connecting to a MySQL database: it will be the same census database that you have already been working with. 
# One of the great things about SQLAlchemy is that, after connecting, it abstracts over the type of database it has connected to and you can write the same SQLAlchemy code, regardless.

# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

# Use the `table_names()` method on the engine to print the table names
print(engine.table_names())

In [ ]:
# Often, we need to perform math type operations as part of the query, such as the population change from 2000 to 2008. 
# The operators work the same way for numbers in SQLAlchemy as they do in Python for math operations. 
# We can perform addition +, subtraction -, multiplication *, division /, and modulus % via operators. 
# Note: these operators behave differently when used with non-numeric column types. 
# Let's find the top 5 states by population growth between 2000 and 2008.

from sqlalchemy import desc

# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}-{}'.format(result.state, result.pop_change))

# Using Case and Cast

In [ ]:
# It's possible to combine functions and operators in a single select statement as well. 
# These combinations can be exceptionally handy when we want to calculate percentages or averages
# We can also use the case() statement to operate on data that meets specific criteria while not affecting the query as a whole
# The case() statement accepts a list of conditions to match and the column to return if the condition matches, followed by an else if none of the conditions match
# We can wrap this entire expression in any function or math operation we like
# Often when performing integer division, we want to get a float back
# While some databases will do this automatically, you can use the cast statement to convert an expression to a particular type

# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

# SQL relationships

In [ ]:
# Allows us to avoid duplicating data
# Makes it easy to change data in only one place
# Good way of storing data we don't need to use very often

In [ ]:
# Automatic Joins with an Established Relationship
# If we have two tables that already have an established relationship, we can automatically use that relationship by just adding the columns we want from each table to the select statement

# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

In [ ]:
# If we aren't selecting columns from both tables or the two tables don't have a defined relationship, we can still use the join() method on a table to join it with another table and get extra data related to our query. 
# The join() takes the table object we want to join in as the first argument and a condition that indicates how the tables are related to the second argument. 
# Finally, we use the select_from() method on the select statement to wrap the join clause. 

# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

In [ ]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt).fetchall()

# Loop over the the results object and print each record.
for record in results:
    print(record)

# Hierarchical data - using alias to handle same table joined queries
For example, a list of managers and their employees from an employee table

In [ ]:
# Often, we will have tables that contain hierarchical data, such as employees and managers who are also employees. 
# For this reason, we may wish to join a table to itself on different columns. 
# The alias() method, which creates a copy of a table, helps us accomplish this task.
# Because it's the same table, we only need a where clause to specify the join condition. 
# Let's use the alias() method to build a query to join the employees table against itself to determine to whom everyone reports.

# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Append where to match manager ids with employees managers: stmt
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Append order by managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

In [ ]:
# Leveraging Functions and Group_bys with Hierarchical Data
# It's also common to want to roll up data which is in a hierarchical table
# Rolling up data requires making sure we are careful which alias we use to perform the group_bys and which table we use for the function. 
# Let's get a count of employees for each manager

# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt = stmt.group_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

# Handling large results can be problematic because of limited memory and disk space

In [ ]:
# Occasionally, we have the need to work on a large ResultProxy, and don't have the memory to load all the results at once. 
# To work around that issue, we can get blocks of rows from the ResultProxy with the fetchmany() method. 
# With fetchmany(), give it an argument of the number of records we want. 
# When we reach an empty list, there are no more rows left to fetch, and we have processed all the results of the query. 
# Then you need to use the close() method to close out the connection to the database.

# We have already built a query with a ResultProxy called results_proxy.

# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state: state_count
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state]+=1
        else:
            state_count[row.state]=1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

# Creating databases and tables

In [ ]:
# Creating Databases
# Varies by the database type
# Databases like PostgreSQL and MySQL have  command line tools to initialize the database
# With SQLite, the create_engine() statement will create the database and file if they do not already exist

In [ ]:
# Creating Tables
# Still uses the Table object like we did for reflection
# Replaces the autoload keyword arguments with Column objects
# Creates the tables in the actual database by using   the create_all() method on the MetaData instance
# You need to use other tools to handle database table updates, such as Alembic or raw SQL

# Previously, we used the Table object to reflect a table from an existing database
# To create a table we still use the Table object but we replace the autoload keyword arguments with Column objects
# The Column object takes a name, a SQLAlchemy type with an optional format, and optional keyword arguments for different constraints
# With the table defined, we're now ready to create the table in the database by using the create_all method on metadata and supplying the engine as the only parameter

# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean, MetaData

# Initialise a metadata object
metadata = MetaData()

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255)),
             Column('count', Integer()),
             Column('amount', Float()),
             Column('valid', Boolean())
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print table repr
print(repr(data))

# Often, you need to make sure that a column is unique, nullable, a positive value, or related to a column in another table
# These are called constraints
# Many constraints are keywords on the column itself; however, they can also be passed directly to the Table object as well
# In addition to constraints, you can also set a default value for the column if no data is passed to it via the default keyword on the column
# There is also an onupdate keyword for setting the column value when the row is updated
# This is extremely useful for keeping datetime stamps for auditing purposes

# Creating Tables - Additional Column Options:
# - unique forces all values for the data in a column to be unique
# - nullable determines if a column can be empty in a   row
# - default sets a default value if one isn’t supplied.

# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print the table details
print(repr(metadata.tables['data']))

# Inserting data into the table

# Inserting a single row with an insert() statement

In [ ]:
# Uses an insert statement where you specify the table as an argument
# You then supply the data you wish to insert into the value via the .values() method as keyword arguments.

# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# Execute the statement via the connection: results
results = connection.execute(stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == "Anna")

# Print the result of executing the query.
print(connection.execute(stmt).first())

# Inserting Multiple Records at Once

In [ ]:
# Often we want to insert more than just one record. 
# In that case, we'll want to build a list of dictionaries that represents our data we want to insert and pair that with an insert statement in the execute method of the connection
# To do so we first build an insert statement for the table data without the values using stmt=insert(data)
# We then pass the list of data dictionaries as the second argument to the execute method (and, as before, stmt as the first argument)

# Build a list of dictionaries: values_list
values_list = [
    {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
]

# Build an insert statement for the data table: stmt
stmt = insert(data)

# Execute stmt with the values_list: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

# Loading a CSV into a Table

In [ ]:
# We can load the contents of a CSV file into a table by using the multiple insert from the prior exercise and the python csv module
# Here we are using a csv_reader that has already been setup for you
# The csv_reader returns a list that represents in line from the CSV file
# We can loop over the csv_reader to handle the results one at a time
# The enumerate function can be used with a csv_reader to return the line number and the data as a tuple starting from line 0.

# Create a insert statement for census: stmt
stmt = insert(census)

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = []
total_rowcount = 0

# Enumerate the rows of csv_reader
for idx, row in enumerate(csv_reader):
    #create data and append to values_list
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
            'pop2008': row[4]}
    values_list.append(data)

    # Check to see if divisible by 51
    if idx % 51 == 0:
        results = connection.execute(stmt, values_list)
        total_rowcount += results.rowcount
        values_list = []

# Print total rowcount
print(total_rowcount)

# Updating data in a database

# Updating a single record

In [ ]:
# The update statement is very similar to an insert statement
# The difference that it also typically uses a where clause to help us determine what data to update
# We'll be using the FIPS state code using here, which is appropriated by the U.S. government to identify U.S. states and certain other associated areas
# Recall that you can update all wages in the employees table as follows:
# - stmt = update(employees).values(wage=100.00)
# For your convenience, the names of the tables and columns of interest in this exercise are: state_fact (Table), name (Column), and fips_state (Column)

# Build a select statement: select_stmt
select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# Print the results of executing the select_stmt
print(connection.execute(select_stmt).fetchall())

# Build a statement to update the fips_state to 36: stmt
stmt = update(state_fact).values(fips_state=36)

# Append a where clause to limit it to records for New York state
stmt = stmt.where(state_fact.columns.name == 'New York')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

# Execute the select_stmt again to view the changes
print(connection.execute(select_stmt).fetchall())

# Updating multiple records in the table

In [ ]:
# By using a where clause that would select more records, we can update Multiple records at once
# Build a statement to update the notes to 'The Wild West': stmt
stmt = update(state_fact).values(notes='The Wild West')

# Append a where clause to match the West census region records
stmt = stmt.where(state_fact.columns.census_region_name == 'West')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

# Performing a 'correlated update' using a select statement

In [ ]:
# We can also update records with data from a select statement
# This is called a correlated update
# It works by defining a select statement that returns the value we want to update the record with and assigning that as the value in an update statement
# We'll be using a flat_census in this exercise as the target of our correlated update
# The flat_census table is a summarized copy of our census table.

# Build a statement to select name from state_fact: stmt
fips_stmt = select([state_fact.columns.name])

# Append a where clause to Match the fips_state to flat_census fips_code
fips_stmt = fips_stmt.where(
    state_fact.columns.fips_state == flat_census.columns.fips_code)

# Build an update statement to set the name to fips_stmt: update_stmt
update_stmt = update(flat_census).values(state_name=fips_stmt)

# Execute update_stmt: results
results = connection.execute(update_stmt)

# Print rowcount
print(results.rowcount)

# Removing data from a database

In [ ]:
# Often, we need to empty a table of all of its records so we can reload the data
# We do this with a delete statement with just the table as an argument

# Deleting Data from a Table
# Done with the delete() statement
# delete() takes the table we are loading data into as the argument
# A where() clause is used to choose which rows to delete
# Hard to undo so BE CAREFUL!!!

In [ ]:
# Import delete, select
from sqlalchemy import delete, select

# Build a statement to empty the census table: stmt
stmt = delete(census)

# Execute the statement: results
results = connection.execute(stmt)

# Print affected rowcount
print(results.rowcount)

# Build a statement to select all records from the census table
stmt = select([census])

# Print the results of executing the statement to verify there are no rows
print(connection.execute(stmt).fetchall())

In [ ]:
# Deleting specific rows
# By using a where() clause we can target the delete statement to remove only certain records

# Build a statement to count records using the sex column for Men (M) age 36: stmt
stmt = select([func.count(census.columns.sex)]).where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the select statement and use the scalar() fetch method to save the record count
to_delete = connection.execute(stmt).scalar()

# Build a statement to delete records from the census table: stmt_del
stmt_del = delete(census)

# Append a where clause to target man age 36
stmt_del = stmt_del.where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the statement: results
results = connection.execute(stmt_del)

# Print affected rowcount and to_delete record count, make sure they match
print(results.rowcount, to_delete)

In [ ]:
# Dropping a Table Completely
# Uses the drop method on the table
# Accepts the engine as an argument so it knows where to remove the table from
# Won’t remove it from metadata until the python process is restarted

# We can delete a table from the database by using the drop() method found on the table object
# We can also drop all the tables by using a drop_all() method on the metadata object
# Finally, we can check to see if a table exists with the exists() method of that table
# All of these methods take the engine engine as the argument (it has already been created)
# Supplying the engine allows it to know which database to target
# (NOTE: these operations affect the database, and will not remove the python references to the objects)

# Drop the state_fact table
state_fact.drop(engine)

# Check to see if state_fact exists
print(state_fact.exists(engine))

# Dropping all the tables - uses the drop_all() method on MetaData
# Drop all tables
metadata.drop_all(engine)

# Check to see if census exists
print(census.exists(engine))

engine.table_names()

# Census case study

# Setup the Engine and MetaData

In [ ]:
# Import create_engine, MetaData
from sqlalchemy import create_engine, MetaData

# Define an engine to connect to chapter5.sqlite: engine
engine = create_engine('sqlite:///chapter5.sqlite')

# Initialize MetaData: metadata
metadata = MetaData()

# Create the Table to the Database

In [ ]:
# Having setup the engine and initialized the metadata, you will now define the census table object and then create it in the database using using the metadata and engine. 
# To create it in the database, you will have to use the .create_all() method on the metadata with engine as the argument

# Import Table, Column, String, and Integer
from sqlalchemy import Table, Column, String, Integer

# Build a census table: census
census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008', Integer()))

# Create the table in the database
metadata.create_all(engine)

# Reading the Data from the CSV

In [ ]:
# Leverage the Python CSV module from the standard library and load the data into a list of dictionaries
# Create an empty list: values_list
values_list = []

# Iterate over the rows
for row in csv_reader:
    # Create a dictionary with the values
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
            'pop2008': row[4]}
    # Append the dictionary to the values list
    values_list.append(data)

# Load Data from a list into the Table

In [ ]:
# Using the multiple insert pattern, in this exercise, you will load the data from values_list into the table.
# Import insert
from sqlalchemy import insert

# Build insert statement: stmt
stmt = insert(census)

# Use values_list to insert data: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

# Build a Query to Determine the Average Age by Population

In [ ]:
# Import select
from sqlalchemy import select

# Calculate weighted average age: stmt
stmt = select([census.columns.sex,
               (func.sum(census.columns.pop2008 * census.columns.age) /
                func.sum(census.columns.pop2008)).label('average_age')
               ])

# Group by sex
stmt = stmt.group_by(census.columns.sex)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the average age by sex
for result in results:
    print(result.sex, result.average_age)

# Build a Query to Determine the Percentage of Population by Gender and State

In [ ]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
        ], else_=0)) /
     cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
])

# Group By state
stmt = stmt.group_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the percentage
for result in results:
    print(result.state, result.percent_female)

# Build a Query to Determine the Difference by State from the 2000 and 2008 Censuses

In [ ]:
# Build query to return state name and population difference from 2008 to 2000
stmt = select([census.columns.state,
     (census.columns.pop2008-census.columns.pop2000).label('pop_change')
])

# Group by State
stmt = stmt.group_by(census.columns.state)

# Order by Population Change
stmt = stmt.order_by(desc('pop_change'))

# Limit to top 10
stmt = stmt.limit(10)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}-{}'.format(result.state, result.pop_change))